@model IEnumerable<ElderSourceApp.Models.ApplicationUser>
    


<h2>Account Management</h2>

<p>
    @Html.ActionLink("Create User Account", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            UserName
        </th>
        
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            E-mail Address
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Change Password", "AdminResetPassword", new { id = item.Id })) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>