@model IEnumerable<ElderSourceApp.Models.CompanyModel>
@{
    ViewBag.Title = "Index";
}


    <h2>Company Search</h2>
<p>
    @using (Html.BeginForm())
    {
    <p>
        Name: @Html.TextBox("searchstring")
        <input type="submit" value="Filter" />
    </p>
    }
@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
      


        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Zip Code", "Index", new { sortOrder = ViewBag.ZipSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Service", "Index", new { sortOrder = ViewBag.ServiceSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Last Paid Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Phone Number", "Index", new { sortOrder = ViewBag.PhoneSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th></th>
            </tr>



            @foreach (var item in Model)
            {



                <tr>
                    <td>
                        @item.CompanyName
                    </td>
                    <td>
                        @item.City
                    </td>
                    <td>
                        @item.ZipCode
                    </td>
                    <td>
                        @item.CompanyType
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastPaidDate)
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.CompanyModelID })
                    </td>



                </tr>




            }
        </table>

    }
    else
    {<h4>You do not have permission to access this page.</h4> }