@model IPagedList<ElderSourceApp.Models.CompanyListViewModel>
@{
    ViewBag.Title = "Index";
}



    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        

            <div class="pagedList" data-elderscript-target="#companyList">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                PagedListRenderOptions.MinimalWithItemCountText)
            </div>

            <h2>Company Search</h2>

            <form method="get" action="@Url.Action("Index")" data-elderscript-ajax="true" data-elderscript-target="#companyList">
                <table style="width:40%">
                    <tr>
                        <th>Company Name:</th>
                        <th><input type="search" name="companyName" data-elderscript-autocomplete="@Url.Action("Autocomplete")" /></th>

                    </tr>
                    <tr>
                        <td><b>Company Type:</b></td>
                        <td><input type="search" name="companyType" data-elderscript-autocomplete="@Url.Action("Autocomplete")" /></td>

                    </tr>
                    <tr>
                        <td><b>City:</b></td>
                        <td><input type="search" name="city" data-elderscript-autocomplete="@Url.Action("Autocomplete")" /></td>

                    </tr>
                    <tr>
                        <td><b>Zip Code:</b></td>
                        <td><input type="search" name="zipCode" /></td>

                    </tr>
                    <tr>
                        <td><input type="submit" value="Search" /></td>

                    </tr>
                </table>
            </form>


            @Html.Partial("_Companies", Model)

        

    @section scripts
{
        }


    } else {<h4>You do not have permission to access this page.</h4> };
    